

<div class="row justify-content-center">
  <div class="card-block"></br>
    <form  method="POST" action="/loginRequest">
      <div class="container">
        <div class="row">
          <div class="col">

            <div class="form-group row">
              <label class="col-4 col-form-label">Brand</label>
              <div class="col-md-8">
                <input type="text" ng-model="desktop.brand" class="form-control">
              </div>
            </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Model</label>
            <div class="col-md-8">
              <input type="text" ng-model="desktop.model" class="form-control">
            </div>
          </div>

            <div class="row form-group">
              <label class="col-4 col-form-label">Price</label>
              <div class="col-md-8">
                <input type="number" step="0.01" min="0" ng-model="desktop.price" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Weight(g)</label>
              <div class="col-md-8">
                <input type="number" step="1" min="0" ng-model="desktop.weight" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Processor Type</label>
              <div class="col-md-8">
                <input type="text" ng-model="desktop.processor_type" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">RAM size</label>
              <div class="col-md-8">
                <input type="number" step="1" min="0" ng-model="desktop.ram_size" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label"># of CPU cores</label>
              <div class="col-md-8">
                <input type="number" step="1" min="0" ng-model="desktop.number_cpu_cores" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Harddrive size</label>
              <div class="col-md-8">
                <input type="number" step="1" min="0" ng-model="desktop.harddrive_size" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Height</label>
              <div class="col-md-8">
                <input type="number" step="0.1" min="0" ng-model="desktop.height" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Width</label>
              <div class="col-md-8">
                <input type="number" step="0.1" min="0" ng-model="desktop.width" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-4 col-form-label">Depth</label>
              <div class="col-md-8">
                <input type="number" step="0.1" min="0" ng-model="desktop.depth" class="form-control">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="card" style="height: 36em;">
                <div class="col"><br />
                  <div class="row form-group">
                    <label class="col-4 col-form-label">Serial Number</label>
                    <div class="col-md-8">
                      <input type="text" ng-model="serial_number" ng-submit="addSerial()" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button ng-click="addSerial()" class="btn btn-primary">Add serial number</button>
                  </div><br />
                  <div class="card" style="height: 25em;">
                    <h6 ng-show="desktop.serial_numbers.length != 0" class="card-header text-center">Serial numbers to be added</h6>
                    <p ng-repeat="serial in desktop.serial_numbers track by $index">{{ serial }} <button ng-click="remove($index)">X</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button ng-click="submitDesktop()" class="btn btn-primary">Add Desktop</button>
          </div>
        </form>
      </div>
    </div>
  </div>
