<label>Brand: <input type="text" ng-model="laptop.brand"></label><br />
<label>Model: <input type="text" ng-model="laptop.model"></label><br />
<label>Price: <input type="number" step="0.01" min="0" ng-model="laptop.price"></label><br />
<label>Weight(g): <input type="number" step="1" min="0" ng-model="laptop.weight"></label><br />
<label>Display size: <input type="number" step="1" min="0" ng-model="laptop.display_size"></label><br />
<label>Processor Type: <input type="text" ng-model="laptop.processor_type"></label><br />
<label>RAM size: <input type="number" step="1" min="0" ng-model="laptop.ram_size"></label><br />
<label># of CPU cores: <input type="number" step="1" min="0" ng-model="laptop.number_cpu_cores"></label><br />
<label>Harddrive size: <input type="number" step="1" min="0" ng-model="laptop.harddrive_size"></label><br />
<label>Battery Info: <input type="text" ng-model="laptop.battery_info"></label><br />
<label>OS: <input type="text" ng-model="laptop.os"></label><br />
<label>Camera:
          <select ng-model="laptop.camera">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
</label><br />
<label>Touch Screen:
          <select ng-model="laptop.touch_screen">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
</label><br />
<p ng-show="laptop.serial_numbers.length != 0">Serial numbers to be added:</p>
<p ng-repeat="serial in laptop.serial_numbers track by $index">{{ serial }} <button ng-click="remove($index)">Delete</button></p>
<label>Serial Number: <input type="text" ng-model="serial_number" ng-submit="addSerial()">
  <button ng-click="addSerial()">Add Serial</button>
</label><br />
<button ng-click="submitLaptop()">Add Laptop</button>
