<label>Brand: <input type="text" ng-model="monitor.brand"></label><br />
<label>Model: <input type="text" ng-model="monitor.model"></label><br />
<label>Price: <input type="number" step="0.01" min="0" ng-model="monitor.price"></label><br />
<label>Weight(g): <input type="number" step="1" min="0" ng-model="monitor.weight"></label><br />
<label>Display size: <input type="number" step="1" min="0" ng-model="monitor.display_size"></label><br />
<br />
<p ng-show="monitor.serial_numbers.length != 0">Serial numbers to be added:</p>
<p ng-repeat="serial in monitor.serial_numbers">{{ serial }}</p>
<label>Serial Number: <input type="text" ng-model="serial_number" ng-submit="addSerial()">
  <button ng-click="addSerial()">Add Serial</button>
</label><br />
<button ng-click="submitMonitor()">Add Monitor</button>
