<div class='row'>
  <div class='col'>
    <label>Brand: {[{ $ctrl.monitor.brand }]}  </label><br />
    <label>Model: {[{ $ctrl.monitor.model}]} </label><br />
    <label>Price: {[{ $ctrl.monitor.price}]} </label><br />
    <label>Weight (g): {[{ $ctrl.monitor.weight}]} </label>
  </div>
  <div class='col'>
    <label>Display Size: {[{ $ctrl.monitor.display_size}]} </label><br />
  </div>
</div>
<div class='row'  ng-show="$ctrl.monitor.serial_numbers.length > 0">
  <p>Serial numbers to be added</p>
  <ul>
    <li ng-repeat="serial in $ctrl.monitor.serial_numbers track by $index">
      {[{ serial }]}  <button ng-click="removeSerial($index)">X</button>
    </li>
  </ul>
</div>
