<div class="container"  style="height:auto;">
  <div class="card" style="height: auto;">
    <div class="row text-left">
      <div class='col'>
        <div class="card-body">
          <label class="control-label">Brand: {[{ $ctrl.tablet.brand }]}  </label><br />
          <label class="control-label">Model: {[{ $ctrl.tablet.model}]} </label><br />
          <label class="control-label">Price: {[{ $ctrl.tablet.price}]} </label><br />
          <label class="control-label">Weight (g): {[{ $ctrl.tablet.weight}]} </label>
        </div>
      </div>
      <div class='col'>
        <div class="card-body">
          <label class="control-label">Display Size: {[{ $ctrl.tablet.display_size}]} </label><br />
          <label class="control-label">Processor Type: {[{ $ctrl.tablet.processor_type}]} </label><br />
          <label class="control-label">RAM Size: {[{ $ctrl.tablet.ram_size}]} </label><br />
          <label class="control-label"># of CPU cores: {[{ $ctrl.tablet.number_cpu_cores}]} </label><br />
          <label class="control-label">Harddrive size: {[{ $ctrl.tablet.harddrive_size}]} </label><br />
          <label class="control-label">Battery Info: {[{ $ctrl.tablet.battery_info}]} </label><br />
          <label class="control-label">Camera Info: {[{ $ctrl.tablet.camera_info}]} </label><br />
          <label class="control-label">Height (cm): {[{ $ctrl.tablet.height}]} </label><br />
          <label class="control-label">Width (cm): {[{ $ctrl.tablet.width}]} </label><br />
          <label class="control-label">Depth (cm): {[{ $ctrl.tablet.depth}]} </label><br />
        </div>
      </div>
      <div class='col'>
        <div ng-class="card-body">
          <div ng-show="$ctrl.tablet.serial_numbers.length > 0">
            <p>Serial numbers</p>
            <ul>
              <li ng-repeat="serial in $ctrl.desktop.serial_numbers track by $index">
                {[{ serial }]}  <button ng-click="removeSerial($index)">X</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="removeDesktopEntry()">Delete</button>
  </div>
</div>
