<div class="container"  style="height:auto;">
  <div class="card" style="height: auto;">
    <div class="row text-left">
      <div class='col'>
        <div class="card-body">
          <label class="control-label">Brand: {[{ $ctrl.tablet.brand }]}  </label><br />
          <label class="control-label">Model: {[{ $ctrl.tablet.model}]} </label><br />
          <label class="control-label">Price: {[{ $ctrl.tablet.price}]} </label><br />
          <label class="control-label">Weight (g): {[{ $ctrl.tablet.weight}]} </label>
        </div>
      </div>
      <div class='col'>
        <div class="card-body">
          <label class="control-label">Display Size: {[{ $ctrl.tablet.displaySize}]} </label><br />
          <label class="control-label">Processor Type: {[{ $ctrl.tablet.processorType}]} </label><br />
          <label class="control-label">RAM Size: {[{ $ctrl.tablet.ramSize}]} </label><br />
          <label class="control-label"># of CPU cores: {[{ $ctrl.tablet.numberCpuCores}]} </label><br />
          <label class="control-label">Harddrive size: {[{ $ctrl.tablet.hardDriveSize}]} </label><br />
          <label class="control-label">Battery Info: {[{ $ctrl.tablet.batteryInfo}]} </label><br />
          <label class="control-label">Camera Info: {[{ $ctrl.tablet.cameraInfo}]} </label><br />
          <label class="control-label">Height (cm): {[{ $ctrl.tablet.height}]} </label><br />
          <label class="control-label">Width (cm): {[{ $ctrl.tablet.width}]} </label><br />
          <label class="control-label">Depth (cm): {[{ $ctrl.tablet.depth}]} </label><br />
        </div>
      </div>
      <div class='col'>
        <div class="card-body">
          <div ng-show="$ctrl.tablet.serialNumbers.length > 0">
            <p>Serial numbers</p>
            <ul>
              <li ng-repeat="serial in $ctrl.tablet.serialNumbers track by $index">
                {[{ serial }]}  <button ng-click="removeSerial($index)">X</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="removeTabletEntry()">Delete</button>
  </div>
</div>
