<!--Card-->
<div class="card" style="height:48rem;" ng-class="{false:'flip-to-front', true:'flip-to-back'}[rotated]">
  <div class="front">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
    </div>
    <!--Card content-->
    <div class="card-body">
      <div class="caption">
        <h4 class="pull-right">${[{ $ctrl.desktop.price.toFixed(2) }]}</h4>
        <h4> Desktop </h4></br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Number: {[{ $ctrl.desktop.model_number }]}</li>
          <li class="list-group-item">Serial Number: {[{ $ctrl.desktop.serial_number }]}</li>
          <li class="list-group-item">Brand Name: {[{ $ctrl.desktop.brand_name }]}</li>
          <li class="list-group-item">Weight: {[{ $ctrl.desktop.weight }]} gram </li>
        </ul></br>
        <a href="#" class="btn btn-primary" ng-click="rotate()">View Details</a>
        <a href="#" class="btn btn-primary" ng-click="addToShoppingCart($ctrl.desktop.serial_number, $ctrl.desktop.model_number)">Add to Shopping Cart</a>
      </div>
      <!--/.caption-->
    </div>
    <!--/.card-body-->
  </div>
  <!--/.front-->

  <div class="back">
    <h2 class="text-center">Detailed Info</h2>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Processor Type: </li>
        <li class="list-group-item">RAM size: </li>
        <li class="list-group-item"># of CPU core: </li>
        <li class="list-group-item">Hard Drive Size: </li>
        <li class="list-group-item">Height (cm): </li>
        <li class="list-group-item">Width (cm): </li>
        <li class="list-group-item">Depth (cm): </li>
      </ul></br>
      <a href="#" class="btn btn-primary" ng-click="rotate()">Go Back</a>
      <a href="#" class="btn btn-primary" ng-click="addToShoppingCart($ctrl.desktop.serial_number, $ctrl.desktop.model_number)">Add to Shopping Cart</a>
    </div>
    <!--/.card-body-->
  </div>
  <!--/.back-->
</div>
<!--/.Camoderd-->
