<!--Card-->
<div class="card" style="height:48rem;" ng-class="{false:'flip-to-front', true:'flip-to-back'}[rotated]">
  <div class="front" style="width: 100%;">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <!--img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt=""--></div>
    <!--Card content-->
    <div class="card-body">
      <div class="caption">
        <h4 class="pull-right">${[{ $ctrl.desktop.price.toFixed(2) }]}</h4>
        <h4> Desktop </h4></br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Number: {[{ $ctrl.desktop.modelNumber }]}</li>
          <li class="list-group-item" ng-repeat="serial in $ctrl.desktop.serialNumbers">{{serial}}
              <a href="#" class="btn btn-primary pull-right" ng-click="addToShoppingCart(serial, $ctrl.desktop.modelNumber, $ctrl.desktop.brandName, 'Desktop', $ctrl.desktop.price.toFixed(2))">Add to Cart</a></li>
          <li class="list-group-item">Brand Name: {[{ $ctrl.desktop.brandName }]}</li>
          <li class="list-group-item">Weight: {[{ $ctrl.desktop.weight }]} gram </li>
        </ul></br>
        <a href="#" class="btn btn-primary" ng-click="rotate()">View Details</a>
      </div>
      <!--/.caption-->
    </div>
    <!--/.card-body-->
  </div>
  <!--/.front-->

  <div class="back">
    <h2 class="text-center">Detailed Info</h2>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Processor Type: {[{ $ctrl.desktop.processorType }]}</li>
        <li class="list-group-item">RAM size: {[{ $ctrl.desktop.ramSize }]}</li>
        <li class="list-group-item"># of CPU core: {[{ $ctrl.desktop.numberCpuCores }]}</li>
        <li class="list-group-item">Hard Drive Size: {[{ $ctrl.desktop.harddriveSize }]}</li>
        <li class="list-group-item">Height (cm): {[{ $ctrl.desktop.height }]} </li>
        <li class="list-group-item">Width (cm): {[{ $ctrl.desktop.width }]}</li>
        <li class="list-group-item">Depth (cm): {[{ $ctrl.desktop.depth }]}</li>
      </ul></br>
      <a href="#" class="btn btn-primary" ng-click="rotate()">Go Back</a>
    </div>
    <!--/.card-body-->
  </div>
  <!--/.back-->
</div>
<!--/.Camoderd-->
