<!--Card-->
<div class="card" style="height:48rem;" ng-class="{false:'flip-to-front', true:'flip-to-back'}[rotated]">
  <div class="front" style="width: 100%;">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <!--img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt=""-->
    </div>
    <!--Card content-->
    <div class="card-body">
      <div class="caption">
        <h4 class="pull-right">${[{ $ctrl.laptop.price.toFixed(2) }]}</h4>
        <h4> Laptop </h4></br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Number: {[{ $ctrl.laptop.modelNumber }]}</li>
          <li class="list-group-item" ng-repeat="serial in $ctrl.laptop.serial_numbers">{{serial}}
              <a href="#" class="btn btn-primary pull-right" ng-click="addToShoppingCart(serial, $ctrl.laptop.modelNumber, $ctrl.laptop.brandName, 'Laptop', $ctrl.laptop.price.toFixed(2))">Add to Cart</a></li>
          <li class="list-group-item">Brand Name: {[{ $ctrl.laptop.brandName }]}</li>
          <li class="list-group-item">Weight: {[{ $ctrl.laptop.weight }]} gram </li>
        </ul></br>
        <a href="#" class="btn btn-primary" ng-click="rotate()">View Details</a>
      </div>
      <!--/.caption-->
    </div>
    <!--/.card-body-->
  </div>
  <!--/.front-->

  <div class="back">
    <h2 class="text-center">Detailed Info</h2>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Processor Type:{[{ $ctrl.laptop.processorType }]} </li>
        <li class="list-group-item">RAM size: {[{ $ctrl.laptop.ramSize }]}</li>
        <li class="list-group-item"># of CPU core:{[{ $ctrl.laptop.numberCpuCores }]} </li>
        <li class="list-group-item">Hard Drive Size:{[{ $ctrl.laptop.harddriveSize }]} </li>
        <li class="list-group-item">Display Size (inches):{[{ $ctrl.laptop.displaySize }]} </li>
        <li class="list-group-item">Battery Info:{[{ $ctrl.laptop.batteryInfo }]} </li>
        <li class="list-group-item">OS: {[{ $ctrl.laptop.os }]}</li>
        <li class="list-group-item">Camera:{[{ $ctrl.laptop.camera }]} </li>
        <li class="list-group-item">Touch Screen:{[{ $ctrl.laptop.touchscreen }]} </li>
      </ul></br>
      <a href="#" class="btn btn-primary" ng-click="rotate()">Go Back</a>
    </div>
    <!--/.card-body-->
  </div>
  <!--/.back-->
</div>
<!--/.Camoderd-->
