<!--Card-->
<div class="card" style="height:48rem;" ng-class="{false:'flip-to-front', true:'flip-to-back'}[rotated]">
  <div class="front">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
    </div>
    <!--Card content-->
    <div class="card-body">
      <div class="caption">
        <h4 class="pull-right">${[{ $ctrl.tablet.price.toFixed(2) }]}</h4>
        <h4>Tablet</h4></br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Number: {[{ $ctrl.tablet.model_number }]}</li>
          <!--<li class="list-group-item">Serial Number: {[{ $ctrl.tablet.serial_number }]}</li>-->
          <li class="list-group-item">Brand Name: {[{ $ctrl.tablet.brand_name }]}</li>
          <li class="list-group-item">Weight: {[{ $ctrl.tablet.weight }]} </li>
        </ul></br>
        <a href="#" class="btn btn-primary" ng-click="rotate()">View Details</a>
        <a href="#" class="btn btn-primary" ng-click="addToShoppingCart($ctrl.tablet.serialNumber, $ctrl.tablet.modelNumber)">Add to Shopping Cart</a>
      </div>
      <!--/.caption-->
    </div>
    <!--/.card-body-->
  </div>
  <!--/.front-->

  <div class="back">
    <h2 class="text-center">Detailed Info</h2>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Processor Type:{[{ $ctrl.tablet.processor_type }]} </li>
        <li class="list-group-item">RAM size:{[{ $ctrl.tablet.ram_size }]} </li>
        <li class="list-group-item"># of CPU core:{[{ $ctrl.tablet.number_cpu_cores }]} </li>
        <li class="list-group-item">Hard Drive Size:{[{ $ctrl.tablet.harddrive_size }]} </li>
        <li class="list-group-item">Display Size (inches):{[{ $ctrl.tablet.display_size }]} </li>
        <li class="list-group-item">Battery Info:{[{ $ctrl.tablet.battery_info }]} </li>
        <li class="list-group-item">OS:{[{ $ctrl.tablet.os }]} </li>
        <li class="list-group-item">Camera Info:{[{ $ctrl.tablet.camera_info }]} </li>
        <li class="list-group-item">Height (cm): {[{ $ctrl.tablet.height }]}</li>
        <li class="list-group-item">Width (cm): {[{ $ctrl.tablet.width }]}</li>
        <li class="list-group-item">Depth (cm):{[{ $ctrl.tablet.depth }]} </li>
      </ul></br>
      <a href="#" class="btn btn-primary" ng-click="rotate()">Go Back</a>
      <a href="#" class="btn btn-primary" ng-click="addToShoppingCart($ctrl.tablet.serialNumber, $ctrl.tablet.modelNumber)">Add to Shopping Cart</a>
    </div>
    <!--/.card-body-->
  </div>
  <!--/.back-->
</div>
<!--/.Camoderd-->
