<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registration Page</title>

  <link rel="stylesheet" href="">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/addItem.js"></script>

</head>

<body>
	<header>
	<h1>Registration</h1>
	</header>
	<content>
		<form method="POST" action="/postDesktop" name="desktop_form">
		  model_number:<br>
		  <input type="text" name="model_number">
		  <br><br>
		  brand_name:<br>
		  <input type="text" name="brand_name">
		  <br><br>
		  price:<br>
		  <input type="text" name="price">
		  <br><br>
		  weigth: <br>
		  <input type="text" name="weigth">
		  <br/><br/>
          number_cpu_cores: <br>
		  <input type="text" name="number_cpu_cores">
		  <br/><br/>
          harddrive_size: <br>
		  <input type="text" name="harddrive_size">
		  <br/><br/>
          depth: <br>
		  <input type="text" name="depth">
		  <br/><br/>
          height: <br>
		  <input type="text" name="height">
		  <br/><br/>
          width: <br>
		  <input type="text" name="width">
		  <br/><br/>
		  processor_type: <br>
		  <input type="text" name="processor_type"><br><br>
		  ram_size: <br>
		  <input type="text" name="ram_size"><br><br>
		  <input type="submit" value="Submit">
		</form>
	</content>
	<footer>
	</footer>


</body>
</html>