<html>
  <head>
    <title>Inventory Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  </head>
  <body>
    <div id="inventory_tables">

    </div>
    {{items}}
  </body>
  <script>

  let mock = JSON.parse('{{{items}}}');
  for (let itemType in mock){
    //make table with itemType
    $('#inventory_tables').append('<table id="table_' + itemType + '"><thead></thead><tbody></table>')
  }
  for (let itemType in mock){
	   for (let item in mock[itemType]){
       for (let attributes in mock[itemType][item]){
         $('#table_' + itemType +' thead').append('<th>' + attributes + '</th></tr>')
        }
        break;
      }
  }
  let values = '';
  for (let itemType in mock){
     for (let item in mock[itemType]){
       $('#table_' + itemType +' tbody').append('<tr>')
       for (let attributes in mock[itemType][item]){
         values = mock[itemType][item][attributes]
         $('#table_' + itemType +' tbody').append('<td>' + values + '</td>');
        }
        $('#table_' + itemType +' tbody').append('</tr>')
      }
  }
  </script>
</html>
