<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Inventory Page</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->
    <!-- Your custom styles (optional) -->
    <link href="css/ClientInventoryStyle.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"/>

    <script type="text/javascript">
      let mock = JSON.parse('{{{items}}}');
    </script>
</head>

<body>
<script>console.log(mock)</script>
{{items}}
    <!-- Start your project here-->
    <!-- Page content -->
  </br>
    <div class="container">
      <!-- Page features -->
      <fieldset class="form-group">
    <legend>Preferences</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Option 1
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Option 2
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
        Option 3
      </label>
    </div>
  </fieldset>
  <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected>Choose...</option>
    <option value="1">Dell</option>
    <option value="2">HP</option>
    <option value="3">Acer</option>
  </select>

  <label class="mr-sm-2" for="inlineFormCustomSelect">Electronic Type</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected>Choose...</option>
    <option value="1">Desktop</option>
    <option value="2">Laptop</option>
    <option value="3">Monitor</option>
    <option value="4">Tablet</option>
  </select></br></br></br>

      <div class="row">


         {{#each items}}
         <script>
         console.log("hell");
          </script>
         {{/each}}


        <div class="col-lg-4 col-md-6 mb-4">
          <!--Card-->
          <div class="card" style="height:37rem;">
            <div class="front">
              <!--Card image-->
              <div class="view overlay hm-white-slight">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
              </div>
              <!--Card content-->
              <div class="card-body">
                <div class="caption">
                  <h4 class="pull-right">$1,000</h4>
                  <h4>Desktop</h4></br>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Model Number: </li>
                    <li class="list-group-item">Serial Number: </li>
                    <li class="list-group-item">Brand Name: </li>
                    <li class="list-group-item">Weight: </li>
                  </ul></br>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
                <!--/.caption-->
              </div>
              <!--/.card-body-->
            </div>
            <!--/.front-->

            <div class="back"></br>
      				<h2 class="text-center">Detailed Info</h2>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Model Number: </li>
                  <li class="list-group-item">Serial Number: </li>
                  <li class="list-group-item">Brand Name: </li>
                  <li class="list-group-item">Weight: </li>
                </ul></br>
                <a href="#" class="btn btn-primary">Go Back</a>
              </div>
              <!--/.card-body-->
        		</div>
            <!--/.back-->
          </div>
          <!--/.Card-->
        </div>

      </div>
      <!--/.row-->
    </div>
    <!--/.container-->


    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <!-- <script type="text/javascript" src="js/popper.min.js"></script> -->
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!-- <script type="text/javascript" src="js/mdb.min.js"></script> -->

    <!-- <script>
      $("#card1").flip();
    </script> -->

</body>

</html>
