<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <table id="userTable">
      <tr>
        <td id="hi"></td></tr>
    </table>
  </body>
  <script>
    var users = JSON.parse('{{{body}}}');
    for (let item in users){
      $('#userTable tr').append('<td>' + users[item].first_name + '</td>');
    }
  </script>
</html>
