
{{#> content-block}}

  <nav>
    <ul id="menuNav">
        <li><a href="http://192.168.99.100" title="Home">Home</a></li>
        <li><a href="/getAllInventoryItems" title="inventory"> View Inventory</a></li>
        <li><a href="/addItem" title="modify_inventory">Modify Inventory</a></li>
        <li><a href="#" title="delete_item">Delete Item</a></li>
        <li><a href="#" title="modify_item">Modify Item</a></li>
         <li><a href="#" title="add_admin_account">Add Admin Account</a></li>
    </ul>
  </nav>
  
{{/content-block}}
