<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Really Cool System</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  </head>

  <body ng-app="">
    <div ng-include="'includes/header.hbs'" ng-init="isAdmin = {{session.isAdmin}}; exists = {{session.exists}}"></div>


    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Really Cool System</h1>
        <h1>By A Really Cool Team</h1>
        <p class="lead">"You can jump from building to building... but only if you are really cool"</p>
        <a href="/login" class="btn btn-primary btn-lg">Sign in!</a>
        <a href="registration" class="btn btn-primary btn-lg">Sign up!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Laptops</h4>
              <p class="card-text">Shop for all your laptop needs including Windows Laptops, Chromebooks, Gaming Laptops, Convertible 2-in-1s, Touchscreen Laptops and more. Explore best-selling laptops from brands like Asus, HP, Acer, MSI, Microsoft, Apple, Toshiba, Dell, and Lenovo with the latest laptop deals and savings for both home and business..</p>
            </div>
            <div class="card-footer">
              <a href="getAllInventoryItems?search=Laptop" class="btn btn-primary">Shop Laptops Now!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Desktops</h4>
              <p class="card-text">Shop for All-in-Ones, Servers, Gaming Desktops and more from top rated brands such as MSI, Acer, CyberPower, HP, and Dell..</p>
            </div>
            <div class="card-footer">
              <a href="getAllInventoryItems?search=Desktop" class="btn btn-primary">Shop Desktops Now!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Tablets</h4>
              <p class="card-text">Shop for Tablets. Whether for business or personal, we have the selection you are looking for. Explore top rated brands including Acer, Apple, ASUS, Kindle, Microsoft, Wacom, Samsung and more..</p>
            </div>
            <div class="card-footer">
              <a href="getAllInventoryItems?search=Tablet" class="btn btn-primary">Shop Tablets Now!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Monitors</h4>
              <p class="card-text">Shop for Gaming Monitors, Touchscreen Monitors and more from top rated brands such as BenQ, ASUS, Acer, Viewsonic and more..</p>
            </div>
            <div class="card-footer">
              <a href="getAllInventoryItems?search=Monitor" class="btn btn-primary">Shop Monitors Now!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
      <div style="width:800px; margin:0 auto;">
        <a href="getAllInventoryItems" class="btn btn-primary">Shop All Now!</a>
      </div>

    </div>
    <!-- /.container -->

    <div ng-include="'includes/footer.hbs'"></div>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>

</html>
