<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Inventory Page</title>

  <link rel="stylesheet" href="">

</head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <script src=""></script>
  
	<header>
	<h1>Inventory</h1>
	</header>
	<content style="height:10px; overflow:scroll;">
	
		<br><h3>Television</h3>
		<table style="background-color:blue; color:white;">
			<tr>
				<th>Model Number</th>
				<th>Brand Name</th>
				<th>Type</th>
				<th>Dimensions</th>
				<th>Weight</th>
				<th>Price</th>
			  </tr>
			  <tr>
				<td>1</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			  </tr>
			  <tr>
				<td>2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			  </tr>
			<tr>
				<td>3</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			</tr>
		</table>
		<br><br><h3>Desktop Computer</h3>		
		<table style="background-color:blue; color:white;">
			<tr>
				<th>Model Number</th>
				<th>Brand Name</th>
				<th>Processor Type</th>
				<th>RAM size</th>
				<th>Number of CPU cores</th>
				<th>Hard drive size</th>
				<th>Dimensions</th>
				<th>Weight</th>
				<th>Price</th>
			  </tr>
			  <tr>
				<td>1</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			  </tr>
			  <tr>
				<td>2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>	
				<td></td>
				<td></td>
				<td></td>				
			  </tr>
			<tr>
				<td>3</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>	
				<td></td>
				<td></td>
				<td></td>				
			</tr>
		</table>
		<br><br><h3>Monitor</h3>
		<table style="background-color:blue; color:white;">
			<tr>
				<th>Model Number</th>
				<th>Brand Name</th>
				<th>Size</th>
				<th>Dimensions</th>
				<th>Price</th>
			  </tr>
			  <tr>
				<td>1</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			  </tr>
			  <tr>
				<td>2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			  </tr>
			<tr>
				<td>3</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>				
			</tr>
		</table>
	</content>
	<footer>
	</footer>
	

</body>
</html>