<!doctype html>

<html>
  <head>
    <title> Login </title>
    <script src = "js/login.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="main">
        <h2>Welcome Users!</h2>

        <form id="form_login" method="post" name="login.form">

          <label>Email :</label>
          <input type="text" name="email" placeholder="Email" id="username"/>

          <br>
          <br>

          <label>Password :</label>
          <input type="password" name="password" placeholder="password" id="password"/>

          <br>
          <br>

          <input type="button" value="Login" id="submit" onclick="validate()"/>

        </form>
      </div>
    </div>

  </body>
