<!doctype html>

<html>
  <head>
    <title> Login </title>
    <!-- <script src = "js/login.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  </head>

  <body ng-app="">
    <div ng-include="'includes/header.hbs'"></div>
    <div class="container">
      <div class="main">
        <h2>Welcome Users!</h2>

        <form id="form_login" method="POST" name="login.form" action="/loginRequest">

          <label>Email :</label>
          <input type="text" name="email" placeholder="Email" id="username"/>

          <br>
          <br>

          <label>Password :</label>
          <input type="password" name="password" placeholder="password" id="password"/>

          <br>
          <br>

          <input type="submit" value="Login" id="submit">

        </form>
        <h4>Click here to create a new account: </h4>
        <button id="createAccount">Register</button>
        <script type="text/javascript">
            document.getElementById("createAccount").onclick = function () {
                location.href = "/registration";
             };
        </script>
      </div>
    </div>

    <div ng-include="'includes/footer.hbs'"></div>

  </body>
  </html>
