<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registration Page</title>

  <link rel="stylesheet" href="css/masterStyle.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/registration.js"></script>

</head>

<body>
	<header>
	<h1>Registration</h1>
	</header>
	
	<div id="wrapper">
		
		<content>
			<form class="form1" method="POST" action="/registrationRequest" name="registration_form">
			  First name:<br>
			  <input type="text" name="first_name">
			  <br><br>
			  Last name:<br>
			  <input type="text" name="last_name">
			  <br><br>
			  Email:<br>
			  <input type="email" name="email">
			  <br><br>
			  Full Address: <br>
			  <input type="text" name="full_address">
			  <br/><br/>
			  Phone Number: <br>
			  <input type="number" name="phone_number">
			  <br/><br/>
			  Password: <br>
			  <input type="password" name="password"><br><br>
			  Confirm password: <br>
			  <input type="password" name="confirmPassword"><br><br>
			  
			  Make this an admin account &nbsp; <input type="checkbox" name="is_admin" id="adminBoolean"><br><br>
			  
			  <input type="submit" value="Submit">
			  <br><br>
			</form>
		</content>
	</div>
	<footer class="pageFooter">
		<div class="footerText">All rights reserved | The Really Awesome Team</div>
	</footer>


</body>
</html>
