<html ng-app="newProduct">
  <head>
    <title> Add product </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="inventory/new-product.module.js"></script>

    <script type="text/javascript" src="inventory/product-forms/monitor-form.module.js"></script>
    <script type="text/javascript" src="inventory/product-forms/laptop-form.module.js"></script>
    <script type="text/javascript" src="inventory/product-forms/desktop-form.module.js"></script>
    <script type="text/javascript" src="inventory/product-forms/tablet-form.module.js"></script>
    <script type="text/javascript" src="inventory/product-entries/desktop-entry.module.js"></script>
    <script type="text/javascript" src="inventory/product-entries/tablet-entry.module.js"></script>
    <script type="text/javascript" src="inventory/product-entries/laptop-entry.module.js"></script>
    <script type="text/javascript" src="inventory/product-entries/monitor-entry.module.js"></script>

  </head>
  <body ng-app="" ng-controller="FormController">
    <div ng-include="'includes/header.hbs'"></div>
      <div class="container">
        <header class="jumbotron my-4">
          <h1 class="display-4">Add a product</h1>
        </header>
        <div class="row text-center justify-content-center">
          <div class="card" style="width: 70rem;">
            <h3 class="card-header text-center">Product details</h3>
              <div class="card-block"></br>
                <label> Product type:
                  <select ng-model="selected">
                    <option value="monitor">Monitor</option>
                    <option value="laptop">Laptop</option>
                    <option value="desktop">Desktop</option>
                    <option value="tablet">Tablet</option>
                  </select>
                </label><br />
                <form ng-model="formData">
                  <laptop-form ng-show="selected=='laptop'"></laptop-form>
                  <tablet-form ng-show="selected=='tablet'"></tablet-form>
                  <desktop-form ng-show="selected=='desktop'"></desktop-form>
                  <monitor-form ng-show="selected=='monitor'"></monitor-form>
                </form>
                <div class="card" ng-show="products.tablets.length > 0">Tablets
                  <div ng-repeat="item in products.tablets track by $index">
                    <tablet-entry  tablet="item"></tablet-entry>
                    <button class="btn btn-primary" ng-click="removeTablet($index)">Delete</button>
                  </div>
                </div>
                <div class="card" ng-show="products.desktops.length > 0">Desktops
                  <div ng-repeat="item in products.desktops track by $index">
                    <desktop-entry  desktop="item"></desktop-entry>
                    <button class="btn btn-primary" ng-click="removeDesktop($index)">Delete</button>
                  </div>
                </div>
                <div class="card" ng-show="products.monitors.length > 0">Monitors
                  <div ng-repeat="item in products.monitors track by $index">
                    <monitor-entry  monitor="item"></monitor-entry>
                    <button class="btn btn-primary" ng-click="removeMonitor($index)">Delete</button>
                  </div>
                </div>
                <div class="card" ng-show="products.laptops.length > 0">Laptops
                  <div ng-repeat="item in products.laptops track by $index">
                    <laptop-entry  laptop="item"></laptop-entry>
                    <button class="btn btn-primary" ng-click="removeLaptop($index)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <button class="btn btn-primary" type="button" ng-click="submit()">Submit All</button>
      </div>
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
