<footer style="background-image: url(images/building.png); height:250px; width:100%;">
<!-- <div class="footerText">All rights reserved | The Really Awesome Team</div> -->
</footer>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; All rights reserved | The Really Awesome Team</p>
  </div>
  <!-- /.container -->
</footer>

</body>

</html>
