<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="../addItem" class="w3-bar-item w3-button">Add Product Description</a>
    <a href="#" class="w3-bar-item w3-button">Add New Item</a>
    <a href="#" class="w3-bar-item w3-button">View Inventory</a>
  </div>
</html>
