/* YOUR CUSTOM STYLES */
.front, .back {
	background: #FFF;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.front {
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

.card.flip-to-front .back {
	-webkit-transform: rotateY(180deg);
}

.card.flip-to-back .front {
	-webkit-transform: rotateY(180deg);
}
