/* YOUR CUSTOM STYLES */
.info-card {
    /*float: left;*/
	/*margin: 10px;*/
	/*-webkit-perspective: 600px;*/
}

.front, .back {
	background: #FFF;
	/*border-radius: 10px;*/
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	/*border: 1px solid black;*/
}

.front {
	overflow: hidden;
	/*width: 100%;*/
	/*height: 400px;*/
	position: absolute;
	z-index: 1;
}

.back {
	/*padding: 20px;*/
	/*padding-top: 0px;*/
	/*width: 250px;*/
	-webkit-transform: rotateY(-180deg);
}

.card:hover .back {
	-webkit-transform: rotateY(0);
}

.card:hover .front {
	-webkit-transform: rotateY(180deg);
}
